.container {
  padding: 20px;
  font-family: Arial;
  background: #f5f6fa;
}
.card {
  background-color: #ffffff;                 /* fond blanc */
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);   /* ombre douce */
  border-radius: 16px;                       /* coins arrondis */
  padding: 24px;                             /* espacement intérieur */
  width: 90%;                                /* largeur de la card */
  margin: 40px auto;                         /* centrée horizontalement */
  display: flex;
  flex-direction: column;
}
.page-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1a1a2e;
}
/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background: #eaeaf0;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.tabs .active {
  background: #1e1e2f;
  color: white;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-btn {
  border: none;
  background: #eaeaf0;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.filters {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 600px;
  height: auto;
}

.filters input {
 width: 500px;
  max-width: 500px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* TABLE */
.table {
  background: white;
  border-radius: 15px;
  overflow: hidden;
}

.table-header, .table-row {
  display: grid;
  grid-template-columns: 40px 150px 1fr 150px 200px;
  padding: 15px;
  align-items: center;
}

.table-header {
  font-weight: bold;
  background: #f1f2f6;
}

.table-row {
  border-top: 1px solid #eee;
}

.table-row:hover {
  background: #f9f9f9;
}

.debit {
  color: red;
}

.credit {
  color: green;
}

select {
  padding: 5px;
  border-radius: 8px;
}

.btn-add {
  align-self: flex-end;   /* pousse le bouton à droite */
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-add:hover {
  background-color: #16377b;
  transform: scaleX();
}
